/* Max width 767px */
@media only screen and (max-width: 767px) {

  .pe-0 {
    padding-right: 6px !important;
  }

  .ps-0 {
    padding-left: 6px !important;
  }

  .main-content .middel-content .add-story {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .main-content .middel-content .add-post-area .custome {
    width: 18% !important;
  }

  .main-content .middel-content .add-post-area .custome1 {
    width: 82% !important;
  }

  .main-content .middel-content .add-post-area .img img {
    width: 50px;
    height: 50px;
  }

  .main-content .middel-content .posts-area .profile .img img {
    width: 50px;
    height: 50px;
  }

  .main-content .middel-content .posts-area .profile .img {
    width: 50px;
    height: 50px;
  }

  .main-content .middel-content .posts-area .main-content .single-pull .img {
    max-width: 70%;
  }

  .single-pull .icon {
    text-align: center;
  }

  .main-content .middel-content .posts-area .main-content .reaction-area .reacts {
    padding: 5px 2px;
  }

  .main-content .middel-content .posts-area .main-content .reaction-area .reacts .single-react .like {
    font-size: 12px;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .img {
    max-width: 100%;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .attachment li {
    margin-right: 5px;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .attachment li:last-child {
    margin-right: 0px;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .attachment li a {
    font-size: 23px;
  }

  .pro-content a {
    display: block !important;
    width: 100%;
  }

  .main-content .middel-content .posts-area .profile .pro-content p {
    line-height: 10px;
  }

  .main-content .middel-content .posts-area .main-content .reaction-area {
    margin-top: 10px;
  }

  .main-content .middel-content .posts-area .main-content .single-img {
    height: 180px;
  }

  .main-content .middel-content .posts-area .main-content .single-img.img2 {
    height: 130px;
  }

  .good {

    .pe-0 {
      padding-right: 0px !important;
    }

    .ps-0 {
      padding-left: 0px !important;
    }
  }

  .main-content .middel-content .posts-area .main-content .reaction-area .like-love img {
    max-width: 10%;
  }

  .main-content .middel-content .posts-area .profile-pic img {
    height: 300px;
  }

  .main-content .middel-content .posts-area .profile-pic {
    height: 300px;
    overflow: hidden;
  }

  hr {
    margin-bottom: 5px !important;
  }

  .navbar-area ul.navbar-nav li a .mobile-hd {
    display: inline-block;
  }

  .navbar-area ul.navbar-nav li a i {
    font-size: 25px;
    position: relative;
    top: 8px;
    margin-right: 7px;
  }

  .navbar-area .search-box {
    max-width: 100%;
    margin-top: 20px !important;
  }
}

/* Min width 485px to Max width 767px */
@media only screen and (min-width: 485px) and (max-width: 575px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area ul.navbar-nav li a .mobile-hd {
    display: inline-block;
  }

  .navbar-area ul.navbar-nav li a i {
    font-size: 25px;
    position: relative;
    top: 8px;
    margin-right: 7px;
  }

  .navbar-area .search-box {
    margin-top: 20px !important;
    max-width: 100%;
  }

  .main-content .middel-content .story-slider .single-story .img {
    height: 220px;
  }

  .main-content .middel-content .story-slider .single-story .img img {
    height: 220px;
  }

  .left-content {
    display: flex;

    .explore {
      width: 25%;
      margin-right: 10px;
    }

    .app-store {
      width: 25%;
      margin-right: 10px;

      .me-3 {
        margin-right: 0rem !important;
      }

      .d-flex {
        display: block !important;
      }

      ul {
        li {
          max-width: 100% !important;
          margin-bottom: 15px;
        }
      }
    }

    .suggestions {
      width: 48%;
    }
  }

  .right-content {
    display: flex;

    .might-like {
      max-width: 49%;
      margin-right: 10px;
    }

    .your-friends {
      max-width: 49%;
    }
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .pe-0 {
    padding-right: 6px !important;
  }

  .ps-0 {
    padding-left: 6px !important;
  }

  .container {
    max-width: 1020px !important;
  }

  .main-content .middel-content .add-post-area .custome {
    width: 15% !important;
  }

  .main-content .middel-content .add-post-area .custome1 {
    width: 85% !important;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .attachment li {
    margin-right: 5px;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .attachment li:last-child {
    margin-right: 0px;
  }

  .main-content .middel-content .posts-area .main-content .comments-area .img {
    max-width: 90%;
    margin-left: 3px;
  }

  .main-content .middel-content .posts-area .profile .img {
    width: 50px;
    height: 50px;
  }

  .main-content .middel-content .posts-area .profile .img img {
    width: 50px;
    height: 50px;
  }

  .main-content .middel-content .posts-area .main-content .reaction-area .like-love img {
    max-width: 10%;
  }

  .social-card.suggestions {
    display: none;
  }

  .tb-story {
    .col-lg-3 {
      width: 33%;
    }

    .col-lg-9 {
      width: 67%;
    }
  }
}

/* Mobile and iPad Navbar */
@media only screen and (max-width: 991px) {}

/* Continuer Custom Width Area Style */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1320px;
  }

  .blog-slide {
    &.owl-theme {
      .owl-nav {
        .owl-prev {
          left: 0;
        }

        .owl-next {
          right: 0;
        }
      }
    }
  }
}