/*
@File: Paso Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Banner Area CSS
** - Services Area CSS
** - Our Company Area CSS
** - Why Choose us Area CSS
** - Working Process Area CSS
** - Case Studies Area CSS
** - Features Area CSS
** - Team Members Area CSS
** - Testimonial Area CSS
** - Blog Post Area CSS
** - Contact Us Area CSS
** - Footer Area CSS
** - Copy Right Area CSS
** - Go Top CSS
*******************************************
*/
/*
Default Style
============================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  color: #212529;
  background: #e9ebee;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #495057;
}

a:hover {
  text-decoration: none;
  color: #2a2a2a;
}

a:focus {
  text-decoration: none;
}

button {
  outline: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a2a2a;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  font-size: 14px;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-control {
  height: 50px;
  color: #2a2a2a;
  border: 1px solid #e8e8e8;
  background-color: #f0f0f0;
  border-radius: 0;
  padding: 0;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::-webkit-input-placeholder {
  color: #495057;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-control:-ms-input-placeholder {
  color: #495057;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-control::-ms-input-placeholder {
  color: #495057;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-control::placeholder {
  color: #495057;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-control:focus {
  color: #000000;
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: 0;
  border: 1px solid #828282;
}

.form-control:focus::-webkit-input-placeholder {
  padding-left: 5px;
}

.form-control:focus:-ms-input-placeholder {
  padding-left: 5px;
}

.form-control:focus::-ms-input-placeholder {
  padding-left: 5px;
}

.form-control:focus::placeholder {
  padding-left: 5px;
}

.form-control:hover:focus,
.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

textarea.form-control {
  height: auto;
  height: 250px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-color {
  background: #f5faff;
}

/** Box Btn Css **/
.box-btn {
  font-size: 14px;
  color: #ffffff;
  padding: 12px 25px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: #db2025;
  border-radius: 3px;
}

.box-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #034b03;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.box-btn.border-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
}

.box-btn:hover {
  color: #fff;
}

.box-btn:hover::before {
  -webkit-transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

@-webkit-keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotaed360 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

/** Preloader Css **/
.loader-content {
  background: #e8e8e8;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  text-align: center;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6e02aa;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube2::before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube3::before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube4::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/*
Go Top Style*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 93%;
  right: -10%;
  background-color: #6e02aa;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #6e02aa;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.go-top:hover {
  color: #ffffff;
  background-color: #2a2a2a;
}

.go-top:hover::before {
  opacity: 1;
  visibility: visible;
}

.go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top:focus {
  color: #ffffff;
}

.go-top:focus::before {
  opacity: 1;
  visibility: visible;
}

.go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.go-top.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  right: 3%;
  top: 93%;
}

/*
Navbar Area Style
======================================================*/
.navbar-area {
  position: relative;
  background: #34465D !important;
  padding: 0 !important;
}

.navbar-area .navbar-toggler-icon i {
  font-size: 30px;
  color: #fff;
}

.navbar-area a.nav-link {
  display: inline-block;
}

.navbar-area a.nav-link.active {
  border-bottom: 2px solid;
}

.navbar-area .navbar-brand img {
  width: 50px;
}

.navbar-area .navbar-toggler {
  background: transparent;
}

.navbar-area .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-area .search-box {
  position: relative;
  max-width: 35%;
}

.navbar-area .search-box button {
  position: absolute;
  left: 10px;
  top: 7px;
  background: transparent;
  font-size: 17px;
}

.navbar-area .search-box .form-control {
  border-radius: 40px;
  height: 45px;
  padding: 10px 20px 10px 45px;
  width: 300px;
}

.navbar-area .search-box .form-control:focus {
  background: #fff;
  color: #1e1e1e;
}

.navbar-area ul.navbar-nav li {
  margin-right: 40px;
}

.navbar-area ul.navbar-nav li a {
  color: #ffff;
}

.navbar-area ul.navbar-nav li a .mobile-hd {
  display: none;
}

.navbar-area ul.navbar-nav li a i {
  font-size: 25px;
}

.navbar-area ul li:last-child {
  margin-right: 0;
}

.navbar-area .dropdown button {
  background: transparent !important;
}

.navbar-area .dropdown button i {
  font-size: 22px !important;
}

.navbar-area .dropdown ul li {
  margin-right: 0;
}

.navbar-area .dropdown ul li a {
  font-size: 15px !important;
  color: #212529;
}

.navbar-area .dropdown ul li a i {
  color: #65676B;
  position: relative;
  top: 1px;
  margin-right: 7px;
  font-size: 17px;
}

.navbar-area .profile a img {
  margin-top: 4px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.navbar-area .profile i {
  font-size: 16px !important;
  margin-left: 5px;
}

.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999;
  -webkit-animation: fadeInDown 500ms ease-in-out;
          animation: fadeInDown 500ms ease-in-out;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-content {
  position: relative;
}

.main-content hr {
  background-color: #adb5bdb0 !important;
}

.main-content .mb-20 {
  margin-bottom: 20px;
}

.main-content .mt-20 {
  margin-top: 20px;
}

.main-content .social-card {
  position: relative;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-content .left-content {
  position: relative;
}

.main-content .left-content .social-card {
  position: relative;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-content .left-content .social-card ul li {
  line-height: 35px;
}

.main-content .left-content .social-card ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.main-content .left-content .social-card ul li a i {
  position: relative;
  margin-right: 7px;
  font-size: 19px;
}

.main-content .left-content .social-card.app-store ul li {
  max-width: 48%;
}

.main-content .left-content .social-card.suggestions a img {
  max-width: 30%;
  margin-right: 7px;
}

.main-content .left-content .social-card.suggestions .border-btn {
  padding: 5px 12px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #828282;
}

.main-content .left-content .social-card.suggestions .border-btn i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.main-content .right-content .social-card {
  position: relative;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-content .right-content .social-card.might-like hr {
  background-color: #adb5bdb0 !important;
  margin: 20px 0;
}

.main-content .right-content .social-card.might-like h5 {
  font-size: 14px;
  margin-bottom: 3px;
  color: #495057;
}

.main-content .right-content .social-card.might-like p {
  font-size: 13px;
  color: #adb5bd;
  margin-bottom: 0;
}

.main-content .right-content .social-card.might-like .border-btn {
  padding: 5px 25px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #828282;
  text-align: center;
}

.main-content .right-content .social-card .search-box {
  position: relative;
}

.main-content .right-content .social-card .search-box button {
  position: absolute;
  left: 10px;
  top: 7px;
  background: transparent;
  font-size: 17px;
}

.main-content .right-content .social-card .search-box .form-control {
  border-radius: 40px;
  height: 45px;
  padding: 10px 20px 10px 45px;
}

.main-content .right-content .social-card.your-friends h5 {
  font-size: 14px;
  margin-bottom: 3px;
  color: #495057;
}

.main-content .right-content .social-card.your-friends p {
  font-size: 13px;
  color: #adb5bd;
  margin-bottom: 0;
}

.main-content .middel-content {
  position: relative;
}

.main-content .middel-content .add-story {
  position: relative;
  z-index: 1;
  background: #7171718c;
  border-radius: 5px;
}

.main-content .middel-content .add-story .img {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
}

.main-content .middel-content .add-story .bottom-content {
  position: relative;
  background: #1e1e1e;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-content .middel-content .add-story .bottom-content p {
  color: #fff;
  text-align: center;
}

.main-content .middel-content .add-story .bottom-content .icon {
  width: 27px;
  height: 27px;
  line-height: 27px;
  background: #2374e1;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: -33px;
  margin-bottom: 15px;
}

.main-content .middel-content .add-story .bottom-content .icon i {
  color: #ffff;
  font-size: 18px;
}

.main-content .middel-content .story-slider {
  position: relative;
}

.main-content .middel-content .story-slider .single-story {
  position: relative;
  z-index: 1;
  background: #7171718c;
  border-radius: 5px;
  padding: 28px 0 0px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main-content .middel-content .story-slider .single-story::before {
  position: absolute;
  content: "";
  background: #2a2a2a30;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
}

.main-content .middel-content .story-slider .single-story .img {
  height: 145px;
}

.main-content .middel-content .story-slider .single-story .img .icon {
  width: 27px;
  height: 27px;
  line-height: 27px;
  background: #41464b;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto;
  position: absolute;
  right: 20px;
  top: 12px;
}

.main-content .middel-content .story-slider .single-story .img .icon i {
  color: #ffff;
  font-size: 18px;
}

.main-content .middel-content .story-slider .single-story .img img {
  height: 145px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .story-slider .single-story .bottom-content {
  padding: 5px;
}

.main-content .middel-content .story-slider .single-story .bottom-content p {
  color: #fff;
  text-align: center;
  margin: 0;
}

.main-content .middel-content .story-slider .single-story:hover::before {
  visibility: visible;
}

.main-content .middel-content .add-post-area {
  position: relative;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin-top: 20px;
}

.main-content .middel-content .add-post-area .custome {
  width: 14% !important;
}

.main-content .middel-content .add-post-area .custome1 {
  width: 86% !important;
}

.main-content .middel-content .add-post-area .img {
  width: 60px;
  height: 60px;
}

.main-content .middel-content .add-post-area .img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .add-post-area .post-box {
  position: relative;
}

.main-content .middel-content .add-post-area .post-box .form-control {
  border-radius: 50px;
  background: #f0f0f0;
}

.main-content .middel-content .add-post-area .single-add {
  text-align: center;
  margin-bottom: 5px;
}

.main-content .middel-content .add-post-area .single-add a {
  font-size: 15px;
}

.main-content .middel-content .add-post-area .single-add a i {
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.main-content .middel-content .post-list .nav-pills .nav-link.active,
.main-content .middel-content .post-list .nav-pills .show > .nav-link,
.main-content .middel-content .post-list .nav-link {
  background: transparent;
  color: #212529;
}

.main-content .middel-content .post-list .nav-link {
  padding: 0;
  padding-right: 20px;
}

.main-content .middel-content .post-list .nav-pills .nav-link.active,
.main-content .middel-content .post-list .nav-pills .show > .nav-link {
  color: #db2025 !important;
}

.main-content .middel-content .posts-area {
  position: relative;
}

.main-content .middel-content .posts-area hr {
  margin: 5px !important;
}

.main-content .middel-content .posts-area .dropdown button {
  background: transparent !important;
}

.main-content .middel-content .posts-area .dropdown button i {
  font-size: 22px;
}

.main-content .middel-content .posts-area .dropdown ul li a {
  font-size: 15px;
}

.main-content .middel-content .posts-area .dropdown ul li a i {
  color: #65676B;
  position: relative;
  top: 2px;
  margin-right: 7px;
}

.main-content .middel-content .posts-area .profile .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .posts-area .profile .img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .posts-area .profile .pro-content h5 {
  font-size: 15px;
  margin-bottom: 4px;
  color: #495057;
}

.main-content .middel-content .posts-area .profile .pro-content h5 span {
  font-size: 11px;
  margin-left: 10px;
  font-weight: 500;
  color: #495057;
}

.main-content .middel-content .posts-area .profile .pro-content h5 span i {
  font-size: 17px;
  color: sandybrown;
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.main-content .middel-content .posts-area .profile .pro-content h5 .group i {
  color: #051242;
}

.main-content .middel-content .posts-area .profile .pro-content p {
  font-size: 13px;
  color: #adb5bd;
  margin-bottom: 0;
}

.main-content .middel-content .posts-area .profile .pro-content p i {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.main-content .middel-content .posts-area .main-content {
  position: relative;
}

.main-content .middel-content .posts-area .main-content label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .middel-content .posts-area .main-content .single-pull {
  margin-bottom: 10px;
}

.main-content .middel-content .posts-area .main-content .single-pull .img {
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
}

.main-content .middel-content .posts-area .main-content .single-pull .img span {
  color: #6c757d;
  font-size: 13px;
}

.main-content .middel-content .posts-area .main-content .icon {
  text-align: center;
}

.main-content .middel-content .posts-area .main-content .icon i {
  font-size: 25px;
}

.main-content .middel-content .posts-area .main-content .content {
  padding: 10px 15px;
  background: #f0f2f5;
  width: 100%;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
}

.main-content .middel-content .posts-area .main-content .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #495057;
}

.main-content .middel-content .posts-area .main-content .reaction-area {
  margin-top: 25px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .like-love {
  margin-bottom: 15px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .like-love img {
  max-width: 6%;
  margin-right: 5px;
  height: 100%;
}

.main-content .middel-content .posts-area .main-content .reaction-area .like-love .img2 {
  margin-left: -10px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .comments {
  margin-bottom: 15px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .comments a span {
  color: #6c757d;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts {
  padding: 10px;
  background: #fafafa;
  position: relative;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .single-react {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  text-align: center;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .single-react .like {
  font-size: 14px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .single-react .like i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .single-react:hover {
  background: #6c757d19;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .react-try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  visibility: hidden;
  width: 210px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .react-try li {
  margin-right: 10px;
}

.main-content .middel-content .posts-area .main-content .reaction-area .reacts .like-react:hover .react-try {
  visibility: visible;
  bottom: 30px;
  opacity: 1;
}

.main-content .middel-content .posts-area .main-content .comments-area {
  position: relative;
  margin: 15px 0;
}

.main-content .middel-content .posts-area .main-content .comments-area .img {
  max-width: 65%;
  margin-left: 3px;
}

.main-content .middel-content .posts-area .main-content .comments-area .attachment li {
  margin-right: 10px;
}

.main-content .middel-content .posts-area .main-content .comments-area .attachment li a {
  font-size: 25px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comment-box {
  position: relative;
}

.main-content .middel-content .posts-area .main-content .comments-area .comment-box button {
  position: absolute;
  right: 18px;
  top: 7px;
  background: transparent;
  font-size: 17px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comment-box .form-control {
  border-radius: 40px;
  height: 45px;
  padding: 10px 45px 10px 20px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comments {
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comments p {
  margin-bottom: 7px;
  font-weight: 500;
}

.main-content .middel-content .posts-area .main-content .comments-area .comments-reply {
  margin-top: 10px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comments-reply li {
  margin-right: 15px;
}

.main-content .middel-content .posts-area .main-content .comments-area .comments-reply li span {
  font-size: 11px;
  color: #adb5bd;
}

.main-content .middel-content .posts-area .main-content .comments-area .reply-bottom {
  max-width: 75%;
}

.main-content .middel-content .posts-area .main-content .single-img {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 220px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main-content .middel-content .posts-area .main-content .single-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .posts-area .main-content .single-img.img2 {
  height: 200px;
}

.main-content .middel-content .posts-area .main-content .single-img .custome {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2125297d;
  top: 0;
  left: 0;
}

.main-content .middel-content .posts-area .main-content .single-img .custome span {
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: block;
  height: 100%;
  position: absolute;
  top: 41%;
  left: 40%;
}

.main-content .middel-content .posts-area .profile-pic {
  height: 500px;
  overflow: hidden;
}

.main-content .middel-content .posts-area .profile-pic img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content .middel-content .posts-area .gradient-bg {
  margin-top: 20px;
  height: 300px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#f90a10), to(#0f00f0));
  background: linear-gradient(to right, #f90a10, #0f00f0);
}

.main-content .middel-content .posts-area .gradient-bg h3 {
  display: block;
  color: #fff;
  font-size: 23px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

/* ----------------------------------------------------
Checkbox
---------------------------------------------------- */
/* checkbox-item */
.checkbox-item {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-item .checkmark {
  position: absolute;
  top: 28px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid;
  border-color: #93959e;
}

/* On mouse-over, add a grey background color */
.checkbox-item:hover input ~ .checkmark {
  background-color: #05f;
}

/* When the checkbox is checked, add a blue background */
.checkbox-item input:checked ~ .checkmark {
  background-color: #05f;
  border-color: #05f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-item .checkmark:after {
  position: absolute;
  content: "";
  display: none;
}

/* Show the checkmark when checked */
.checkbox-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-item .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*# sourceMappingURL=style.css.map */